.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family:"IBM Plex Sans Arabic";
  padding: 40px 20px;
  background-color: var(--nav-bg);
}
.error-image {
  width: 400px;
  max-width: 100%;
  margin-bottom: 20px;
}

.error-code {
  font-size: var(--font-size-ultrabig);
  color: #000;
  font-weight: 700;
  margin: 0;
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.error-message {
  color: var(--nav-text);
}

.error-title {
  font-size: var(--font-size-large);
  font-weight: 600;
  margin: 0;
}

.error-description {
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin-top: 16px;
}

.home-button {
  border-radius: 4px;
  background-color: rgba(27, 131, 84, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: var(--font-size-normal);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.2s;
}

.home-button:hover {
  background-color: rgba(22, 105, 67, 1);
}

@media (max-width: 768px) {
  .error-code {
    font-size: var(--font-size-big);
  }

  .error-image {
      width: 300px;
  }

  .error-title {
    font-size: var(--font-size-mediumM);
  }

  .error-description {
    font-size: var(--font-size-normal);
  }
}
