<div class="error-page">
  <img src="/assets/icons/404illustration.svg" alt="404 Illustration" class="error-image" />


  <section class="error-content">
      <div class="error-message">
          <h2 class="error-title">Something went wrong</h2>
          <p class="error-description">
              Sorry, we can't find the page you're looking for
          </p>
      </div>

      <a routerLink="/" class="home-button">
          <span class="button-text">Back To Home</span>
      </a>
  </section>
</div>
