<section class="about-us">
  <div class="container">
    <div class="text-content">
      <div class="cta-wrapper">
        <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
        <button class="cta-btn">{{ 'ABOUT.BUTTON' | translate }}</button>
      </div>
      <p>{{ 'ABOUT.DESCRIPTION' | translate }}</p>
    </div>
    

    <div class="stats">
      <div class="stat">
        <div class="icon">
          <div class="icon-img icon-person"></div>
        </div>
        <h3>1.5M</h3>
        <p>{{ 'ABOUT.STAT_PERSON' | translate }}</p>
      </div>

      <div class="stat">
        <div class="icon">
          <div class="icon-img icon-plus"></div>
        </div>
        <h3>1.5M</h3>
        <p>{{ 'ABOUT.STAT_PLUS' | translate }}</p>
      </div>

      <div class="stat">
        <div class="icon">
          <div class="icon-img icon-star"></div>
        </div>
        <h3>1.5M</h3>
        <p>{{ 'ABOUT.STAT_STAR' | translate }}</p>
      </div>

      <div class="stat">
        <div class="icon">
          <div class="icon-img icon-donation"></div>
        </div>
        <h3>1.5M</h3>
        <p>{{ 'ABOUT.STAT_DONATION' | translate }}</p>
      </div>
    </div>
  </div>
</section>
