<section class="articles-news"> 
  <div class="container">
    <div class="header">
      <div class="text-content">
        <h2>{{ 'ARTICLES.SECTION_TITLE' | translate }}</h2>
        <p>{{ 'ARTICLES.SECTION_DESCRIPTION' | translate }}</p>
      </div>
      <button class="view-all">{{ 'ARTICLES.VIEW_ALL' | translate }}</button>
    </div>

    <div class="articles-wrapper">
      <div class="articles-grid" #articleContainer>
        <div class="article-card" *ngFor="let article of articles; let i = index">
          <div class="article-image">
            <img [src]="article.image" alt="{{ 'ARTICLES.IMAGE_ALT' | translate }}">
          </div>
          <div class="article-content">
            <h3>{{ article.title | translate }}</h3>
            <p>{{ article.description | translate }}</p>
            <button class="read-more">{{ 'ARTICLES.READ_MORE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dots">
      <button class="nav-btn prev"   [ngClass]="{ 'nav-btn-inactive': !isPrevActive() }"
      (click)="prevSlide()">&lt;</button>

      <button class="nav-btn next"   [ngClass]="{ 'nav-btn-inactive': !isNextActive() }"
      (click)="nextSlide()">&gt;</button>

      <span *ngFor="let _ of articles; let i = index" 
            class="dot" 
            [class.active]="i === currentSlide" 
            (click)="goToSlide(i)"></span>
    </div>
  </div>
</section>
