<footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>{{ 'FOOTER.OVERVIEW' | translate }}</h3>
        <ul>
          <li><a href="#">{{ 'FOOTER.ABOUT' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.PRIVACY' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.HOW_TO_USE' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.NEWS' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.SLA_STATISTICS' | translate }}</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>{{ 'FOOTER.IMPORTANT_LINKS' | translate }}</h3>

        <ul>
          <li><a href="#">{{ 'FOOTER.NATIONAL_SERVICE' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.OPEN_GOV_DATA' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.AI_STRATEGY' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.OPEN_DATA' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.EPARTICIPATION' | translate }}</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>{{ 'FOOTER.CONTACT_SUPPORT' | translate }}</h3>

        <ul>
          <li><a href="#">{{ 'FOOTER.CUSTOMER_HUB' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.CONTACT_US' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.ENGAGE' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.SUBMIT_COMPLAINT' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.REPORT_CORRUPTION' | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-column ">
        <div class="social-access">
          <div class="social-icons-section">
            <h3>{{ 'FOOTER.SOCIAL_MEDIA' | translate }}</h3>
            <div class="social-icons">
              <a href="#"><img src="assets/icons/x.svg" alt="X"></a>
              <a href="#"><img src="assets/icons/linkedin.svg" alt="LinkedIn"></a>
              <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram"></a>
            </div>
          </div>
      
          <div class="accessibility-icons-section">
            <h3 style="white-space: nowrap">{{ 'FOOTER.ACCESSIBILITY_TOOLS' | translate }}</h3>
            <div class="accessibility-icons">
              <a href="#"><img src="assets/icons/hands.svg" alt="Contrast"></a>
              <a href="#"><img src="assets/icons/search-add.svg" alt="Zoom In"></a>
              <a href="#"><img src="assets/icons/view.svg" alt="Zoom Out"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="footer-left">
        <div class="links">
          <a href="#">{{ 'FOOTER.SITEMAP' | translate }}</a>
          <a href="#">{{ 'FOOTER.RSS' | translate }}</a>
          <a href="#">{{ 'FOOTER.MOBILE_APP' | translate }}</a>
        </div>
    
        <p class="bold">{{ 'FOOTER.RIGHTS_RESERVED' | translate }} &copy; {{ currentYear }}</p>
        <p>{{ 'FOOTER.DEVELOPED_BY' | translate }}</p>
        <p class="last-modified">{{ 'FOOTER.LAST_MODIFIED' | translate }}</p>
      </div>
    
      <div class="footer-logos">
        <img src="assets/icons/logoplaceholder.svg" alt="Platform Logo">
        <img [src]="footerLogo" alt="Footer Logo">
      </div>
    </div>
    
    
  
  </div>
</footer>
