<section class="services">
  <div class="container">
    <div class="header">
      <div class="text-content">
        <h2>{{ 'SERVICES.TITLE' | translate }}</h2>
        <p>{{ 'SERVICES.DESCRIPTION' | translate }}</p>
      </div>
      <button class="view-all">{{ 'SERVICES.VIEW_ALL' | translate }}</button>
    </div>

    <div class="carousel-wrapper">

      <div class="carousel-container" #carouselContainer>
        <div class="cards">
          <div class="card" *ngFor="let service of services">
            <div class="card-icon">
              <div class="icon-img icon-check"></div>
            </div>
            <h3>{{ service.title | translate }}</h3>
            <p>{{ service.content | translate }}</p>

            <div class="tags">
              <span 
                class="tag" 
                *ngFor="let tag of service.tags; let i = index"
                [ngStyle]="{'background-color': tagColors[i % tagColors.length] , 'color': Colors[i % tagColors.length]}"
              >
                {{ tag | translate }}
              </span>
            </div>
            

            <div class="card-actions">
              <button class="btn-secondary">{{ service.secondaryAction | translate }}</button>
              <button class="btn-primary">{{ service.primaryAction | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <!-- Swiper Navigation -->
    <div class="pagination-wrapper">
      <div class="swiper-button">
        <div class="swiper-button-prev" ></div>
        <div class="swiper-button-next"></div>
      </div>
  
    </div>
    <div class="swiper-pagination"></div>

  </div>
</section>
